<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514978136576-3f4eh16eh8jqk94k925bfja7o390h670.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514978136576-3f4eh16eh8jqk94k925bfja7o390h670</string>
	<key>API_KEY</key>
	<string>AIzaSyC79hOG9iqUZMLzk55X2jBOxNf47QQz49g</string>
	<key>GCM_SENDER_ID</key>
	<string>514978136576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truonganim.toktok</string>
	<key>PROJECT_ID</key>
	<string>toktok-8da9f</string>
	<key>STORAGE_BUCKET</key>
	<string>toktok-8da9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514978136576:ios:24cb962ce3fad46397cee5</string>
</dict>
</plist>